@import url("index.css");

/* banner */

.about-wrapper {
  background-image: url("assets/about/mobile/image-hero-whitecup.jpg");
}

@media (min-width: 35rem) {
  .about-wrapper {
    background-image: url("assets/about/tablet/image-hero-whitecup.jpg");
  }
}

@media (min-width: 50rem) {
  .about-wrapper {
    background-image: url("assets/about/desktop/image-hero-whitecup.jpg");
  }
}

/* commitment */

.commitment {
  --gap: 2.9rem;
  text-align: center;
}

.commitment img {
  border-radius: 6px;
}

.commitment-content h1 {
  margin-block-end: 1.875rem;
}

@media (min-width: 35rem) {
  .commitment {
    --gap: 4rem;
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
  }

  .commitment-content {
    justify-self: start;
    align-self: center;
  }
}

/* quality */ 

.quality-wrapper {
  text-align: center;
  grid-template-columns: 1.5rem 1fr 1.5rem;
  grid-template-rows: 5rem repeat(3, auto);
}

.quality-wrapper::before {
  content: "";
  grid-column: 1/-1;
  grid-row: 2/-1;
  background-image: url("assets/about/mobile/bg-quality.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}

.quality-wrapper picture {
  grid-column: 2/3;
  grid-row: 1/3;
  z-index: 1;
  justify-self: center;
}

.quality-wrapper img {
  border-radius: 6px;
}

.quality-wrapper h1 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.quality-wrapper p {
  grid-column: 2/3;
  grid-row: 4/5;
  padding-block-end: 3.75rem;
}

@media (min-width: 60rem) {
  .quality-wrapper {
    text-align: left;
    grid-template-columns: 5rem 1fr 1fr 5rem;
    column-gap: 1.5rem;
  }

  .quality-wrapper picture {
    grid-column: 3/4;
    grid-row: 1/4;
  }

  .quality-wrapper h1 {
    grid-row: 2/3;
    align-self: end;
  }

  .quality-wrapper p {
    grid-row: 3/5;
  }
}

/* headquarters */

.headquarters address {
  font-style: normal;
}

.country {
  margin-inline: auto;
}

@media (min-width: 35rem) {
  .country {
    margin-inline: 0;
  }
}