@import url("index.css");

/* banner */

.plan-intro {
  background-image: url("assets/plan/mobile/image-hero-blackcup.jpg");
}

@media (min-width: 35rem) {
  .plan-intro {
    background-image: url("assets/plan/tablet/image-hero-blackcup.jpg");
  }
}

@media (min-width: 50rem) {
  .plan-intro {
    background-image: url("assets/plan/desktop/image-hero-blackcup.jpg");
  }
}

/* how it work */

.steps-wrapper {
  padding: 1.75rem 1rem;
  background-image: url("assets/plan/mobile/bg-steps.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}

.steps-wrapper .circle {
  background-color: transparent;
}

@media (min-width: 35rem) {
  .steps-wrapper {
    padding: 4.375rem 2.5rem;
    background-image: url("assets/plan/tablet/bg-steps.png"); 
  }
}

@media (min-width: 50rem) {
  .steps-wrapper {
    padding: 6.25rem 5.25rem;
    background-image: url("assets/plan/desktop/bg-steps.png"); 
  }
}

/* plan */

.disclosure-btn {
  --gap: 3rem;
  font-family: var(--ff-sans-1);
  color: hsl(var(--clr-grey));
  text-align: left;
  font-size: 1.25rem;
  font-weight: 600;
  padding-inline: 0;
  align-items: center;
  justify-content: center;

  border: 0;
  background-color: transparent;
}

.disclosure-btn:hover {
  cursor: pointer;
}

.arrow {
  transform: rotate(180deg);
}

.disclosure-btn[aria-expanded="true"] .arrow {
  transform: rotate(360deg);
}

.disclosure-content {
  grid-template-rows: repeat(3, minmax(0, 1fr));
  margin-top: 2rem;
  display: none;
}

.disclosure-content[data-visible] {
  display: grid;
}

.opts > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.radio-btn {
  border: 0;
  margin: 0;
  appearance: none;
  position: relative;
  background-color: transparent;
  z-index: 2;
}

.opts label {
  padding: 2rem;
  background-color: hsl(40, 29%, 94%);
  border-radius: 6px;
  z-index: 1;
}

.opt-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.opt-description {
  font-size: var(--fs-100);
}

.radio-btn:hover {
  cursor: pointer;
}

.radio-btn:hover + label {
  background-color: hsl( var(--clr-pale) );
}

.radio-btn:checked + label {
  color: hsl( var(--clr-light-cream) );
  background-color: hsl( var(--clr-dark-cyan) );;
}

@media (min-width: 35rem) {
  .disclosure-btn {
    justify-content: space-between;
  }

  .disclosure-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
